/* Ensuring overflow is handled properly */

.rowcontainer {
    display: flex;
    overflow: hidden; /* Prevent overflow */
}

.colcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    overflow: hidden; /* Prevent overflow */
}

.centercont {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
}

.osmcont {
    position: absolute;
    left: 45px;
    overflow: hidden; /* Prevent overflow */
}

.fontele {
    display: flex;
    justify-content: center;
    color: #fffce1;
    font-weight: 400;
    font-size: 250px;
    font-style: bold;
    font-family: sans-serif;
    overflow: hidden; /* Prevent overflow */
}

.navbar,
.Gnavbar,
.Snavbar,
.Anavbar,
.Pnavbar {
    color: #fffce1;
    font-weight: 400;
    font-size: 45px;
    display: flex;
    overflow: hidden; /* Prevent overflow */
}

.navbar:hover,
.Gnavbar:hover,
.Snavbar:hover,
.Anavbar:hover,
.Pnavbar:hover {
    font-size: 50px;
}

.navelement {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
}

.navfont {
    color: white;
    margin: 20px;
    font-size: 20px;
}

.lftcontainer {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; /* Prevent overflow */
}

.rhtcontainer {
    display: flex;
    justify-content: flex-end;
    overflow: hidden; /* Prevent overflow */
}

.container {
    display: flex;
    overflow: hidden; /* Prevent overflow */
}

.screencont {
    height: 100vh;
    overflow: hidden; /* Prevent overflow */
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Prevent overflow */
}

.flair,
.flair2 {
    position: absolute;
    top: -25px;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
}

.imgele,
.fan {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevent overflow */
}

.wormcont {
    position: absolute;
    bottom: 45px;
    overflow: hidden; /* Prevent overflow */
}

@media screen and (max-width: 600px) {
    .fontele {
        font-size: 120px;
    }

    .colcontainer {
        position: relative;
        margin-top: 100px;
    }

    .flair {
        display: none;
    }
}
