.rowcontainer{
    display: flex;
}

.colcontainer{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.centercont{
    display: flex;
    justify-items: center;
    align-self: center;
}

.osmcont{
    display: absolute;
    left: 45px;
}


.fontele{
    display: flex;
    justify-content: center;
    color: #fffce1;
    font-weight: 400;
    font-size: 200px;
    font-style: bold;
    font-family: sans-serif;
}

.navbar{
    color: #fffce1;
    font-weight: 400;
    font-size: 45px;
    display: flex;
}

.Gnavbar{
    color: white;
    font-weight: 400;
    font-size: 45px;
    display: flex;
}

:hover.Gnavbar{
    color: white;
    font-weight: 400;
    font-size: 50px;
    display: flex;
}

.Snavbar{
    color: white;
    font-weight: 400;
    font-size: 45px;
    display: flex;
}

:hover.Snavbar{
    color: white;
    font-weight: 400;
    font-size: 50px;
    display: flex;
}

.Anavbar{
    color: white;
    font-weight: 400;
    font-size: 45px;
    display: flex;
}

:hover.Anavbar{
    color: white;
    font-weight: 400;
    font-size: 50px;
    display: flex;
}

.Pnavbar{
    color: white;
    font-weight: 400;
    font-size: 45px;
    display: flex;
}

:hover.Pnavbar{
    color: white;
    font-weight: 400;
    font-size: 50px;
    display: flex;
}


.navelement{
    display: flex;
    flex-direction: row;
    color: white;
    justify-items: center;
    align-items: center;
}

.navfont{
    color: white;
    margin: 20px;
    font-size: 20px;
}

.lftcontainer{
    display: absolute;
    left: 0;
}

.rhtcontainer{
    display: absolute;
    right: 0;
}


.container{
    display: flex;
}

.screencont{
    height: 100vh;
}

.maincontainer{
    display: flex;
    justify-content: space-between;
}

.flair{
    position: absolute;
    top: 0px;
    justify-content: center;
}

.fan{
    display: flex;
}

.wormcont{
    display: absolute;
    bottom: 45px;
}

@media screen and (max-width: 600px){
    .fontele{
        display: flex;
        justify-content: center;
        color: #fffce1;
        font-weight: 400;
        font-size: 120px;
        font-style: bold;
        font-family: sans-serif;
    }

    .colcontainer{
        display: absolute;
        margin-top: 100px;
    }

    .flair{
        display: none;
    }
}